

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js">
    <title>Cropify</title>
</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        <%- include("../includes/navbar.ejs") %>

        <!-- Main Content -->
        <div class="content">
<!-- flash -->
<%- include("../includes/flash.ejs") %>

            <%- body %>
        </div>

        <!-- Footer -->
        <%- include("../includes/footer.ejs") %>
    </div>

</body>
</html>
